{% extends 'panel/core/base.html.twig' %}

{% block nextTitle %} - Panel | Ustawienia{% endblock %}

{% block body %}
	<div class="container-fluid">
		
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Ustawienia</h1>
		</div>
		
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4">
				<div class="card card-body text-white bg-secondary mb-3">
					<legend><i class="fas fa-info"></i> Informacje na stronie głównej</legend>
					<hr>

					<div class="form-group text-right">
						<a href="{{ path('panel_settings_info') }}">
							<button class="btn btn-success">Edytuj <i class="fas fa-edit"></i></button>
						</a>
					</div>
				</div>

				<div class="card card-body text-white bg-secondary">
					<legend><i class="fas fa-info"></i> O mnie</legend>
					<hr>

					<div class="form-group text-right">
						<a href="{{ path('panel_settings_aboutme') }}">
							<button class="btn btn-success">Edytuj <i class="fas fa-edit"></i></button>
						</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-4">
				<div class="card card-body text-white bg-primary mb-3">
					<legend><i class="fas fa-info"></i> Linki</legend>
					<hr>

					<div class="form-group text-right">
						<a href="{{ path('panel_settings_links') }}">
							<button class="btn btn-success">Edytuj <i class="fas fa-edit"></i></button>
						</a>
					</div>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-md-4">
				<div class="card card-body text-white bg-info mb-3">
					<legend><i class="fas fa-key"></i> Zmiana danych logowania</legend>
					<hr>

					<div class="form-group text-right">
						<a href="{{ path('panel_settings_account') }}">
							<button class="btn btn-success">Edytuj <i class="fas fa-edit"></i></button>
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block javascripts %}
{% endblock %}