{% extends 'panel/core/base.html.twig' %}

{% block nextTitle %} - Panel{% endblock %}

{% block body %}
	<div class="container-fluid">
		
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Statystyki</h1>
		</div>
		
		<div class="row">
			
		</div>
		
	</div>
{% endblock %}

{% block javascripts %}
	<script src="/assets/js/chart.min.js" charset="utf-8"></script>
{% endblock %}