<footer class="page-footer text-center elegant-color-dark mt-4">
		<hr class="my-4">
		
		<div class="pb-4">
			<a href="#" target="_blank">
				<i class="fab fa-facebook-f mr-3"></i>
			</a>

			<a href="#" target="_blank">
				<i class="fab fa-instagram mr-3"></i>
			</a>
			
			<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
				<i class="fab fa-youtube"></i>
			</a>
		</div>
		
		<div class="footer-copyright py-3">
			© 2020 Copyright | CODE BY: <a href="https://sebak.ovh/" target="_blank">Sebastian Krysa</a>
		</div>
		
	</footer>