<footer class="page-footer text-center elegant-color-dark mt-4 {{ isFooterSticky is defined ? 'fixed-bottom' : '' }} ">
	<hr class="my-4">
	
	<div class="pb-4">
		{% for link in linksList %}
			<a href="{{ link['url'] }}" target="_blank" data-toggle="tooltip" title="{{ link['title'] }}">
				<i class="{{ link['icon'] }} mx-1"></i>
			</a>
		{% endfor %}
	</div>
	
	<div class="footer-copyright py-3">
		© 2020 Copyright | CODE BY: <a href="https://sebak.ovh/" target="_blank">Sebastian Krysa</a>
	</div>
	
</footer>